.card-body {
    background: linear-gradient(90deg, #0BE7EA, var(--gl-blue));
    padding: 24px 0px 24px 8px;
    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-header {
    padding: 2px 1rem;
    background-color: var(--gl-black);
    color: var(--gl-bg-white);
    text-align: center;
    border: 2px solid black;
    border-radius: 16px;
    width: max-content;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-4 {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.items-start {
    align-items: flex-start;
}

.gap-4 {
    gap: 1rem;
}

.rounded-full {
    border-radius: 9999px;
}

.object-cover {
    object-fit: cover;
}

.shrink-0 {
    flex-shrink: 0;
}

.grow {
    flex-grow: 1;
}

.side-card{
    background-color: var(--gl-bg-white);
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 0.5rem;
}

.card-footer{
    background-color: var(--gl-black);
    div{
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.description{
    font-size: 14px;
}


.price-section {
    justify-content: space-between;
    align-items: center;
}

.line-through {
    text-decoration: line-through;
}