// For better scroll experience
.scroll-smooth {
    scroll-behavior: smooth;
  }
  
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  
  .snap-start {
    scroll-snap-align: start;
  }
  
  // Hide scrollbar while keeping functionality
  @media (max-width: 1023px) {
    .overflow-x-auto {
      -ms-overflow-style: none;
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }